<html>
	<body>
		<link rel="stylesheet" href="/checking.css">
		<div>
			<h2>
				 See requested information below..
			</h2>
			<table>
		<tr>
			<th> First Name </th>
			<th> Last Name </th>
			<th> Age </th>
			<th> Gender </th>
		</tr>
		<tr>
		</tr>
		<tr>
			<td> <%=fname%> </td>
			<td> <%=lname%> </td>
			<td> <%=age%> </td>
			<td> <%=gender%> </td>
		</tr>
	</table>
			<h3>
				Click the back arrow button to go to previous menu..
			</h3>
		</div>
	</body>
	
</html>
